.DonationCard {
  &-header {
    font-size: 16px;
  }

  &-footer {
    margin-top: 8px;
  }
}

.Profile {
  $hp: 24px;

  height: 100%;

  &-header,
  &-header::before,
  &-body {
    border-radius: 6px;
  }

  &-header {
    position: relative;
    padding: $hp * 1.5 $hp;
    // background: transparent url("/banner.jpg") no-repeat 50% 50%;

    &::before {
      content: "\0020";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
      background-color: #000;
      opacity: .15;
    }
  }

  &-headerContent {
    position: relative;
    z-index: 1;
    text-align: center;
  }

  &-address {
    margin-top: 16px;
    font-size: 24px;
    font-weight: bold;

    :global(.ant-typography) {
      font-size: inherit;
    }
  }

  &-body {
    min-height: 480px;
    margin-top: $hp;
    padding: $hp;
    background-color: #fff;
  }
}
